/* .notification_wrap{
  width: 300px;
  background-color: cadetblue;
}
.message_wrap{
  width: 300px;
  background-color: cadetblue;
} */
/* .wrapper{
background-color: white;
} */
.notification_wrap .notification_icon .fa-bell{
  cursor: pointer;
  margin-left: -210px;
  margin-top: 28px;
}

.dropdown,.dropdown1{
  width: 300px;
  height: 300px;
  margin-top: 10px;
  background-color: cadetblue;
}
.notification_wrap .dropdown,.dropdown1{
  width: 300px;
  height: 415px;
  background-color: white;
  border-radius: 5px;
  margin: 55px;
  padding: 5px;
  position: relative;
  display: none;
  border: ridge;
}
p000{
  font-size: 15px;
    color: grey;
    margin-left: 15px;
    word-wrap: break-word;
    margin-top: -12px;
}
.recent{
  color: blueviolet;
    font-size: 18px;
    background-color: aliceblue;
    height: 50px;
    width: 311px;
    text-align: center;
    margin-top: -6px;
    margin-left: -5px;
}
.notification_wrap .dropdown .notify_item{
  display: flex;
  align-items: center;
  padding: 10px 0;
  border-bottom: 1px solid grey;
  margin-top: -60px;
}

.notification_wrap .dropdown .p{
  border-bottom: 1px solid grey;
}
.notification_wrap .dropdown .notify_item:last-child{
  border-bottom: 0;
}

.notification_wrap.dropdown .notify_item .notify_img{
  margin-right: 15px;
  margin-top: 43px;
}

.notification_wrap.dropdown .notify_item .notify_info p span{
  color: cadetblue;
  margin-top: -27px;
}

.notification_wrap .dropdown .notify_item .notify_info .notify_item{
  display: flex;
  align-items: center;
  /* padding: 10px 0; */
  border-bottom: 1px solid grey;
  margin-top: -30px;
}

.image2{
  width: 50px;
  height: 50px;
  border-radius: 50%;
  margin-top: 43px;
}

.notification_wrap .dropdown:before{
  content: "";
  position: absolute;
}

.notification_wrap .dropdown .active{
display: block;
}
/*****************************************************************/
.aaa{
  display: flex;
  justify-content: start;
  margin-top: 41px;
  color: cadetblue;
 
}
body{
  width: 100%;
  height: 100%;
  background-color:lightgrey;
  font-family: poppins,sans-serif;
}
.navbar {
  overflow: hidden;
  background-color: white;
  position: fixed; /* Set the navbar to fixed position */
  top: 0; /* Position the navbar at the top of the page */
  width: 100%; /* Full width */
}

/* Links inside the navbar */
.navbar a {
  float: left;
  display: block;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

/* Change background on mouse-over */
.navbar a:hover {
  background: #ddd;
  color: black;
}
.icons1 {
  font-family: 'Material Icons';
  font-style: normal;
  font-size: 30px;
  padding: 22px;
  font-size: 20px!important;
  padding-left: 0px;
  outline: none;
}
/************************/
.sidebar {
  font-family: arial, sans-serif;
  width: 200px;
  position: fixed;
  background-color: #f1f1f1;
  height: 100%;
  overflow: auto;
  margin-top: 57px;
}
.amt{
  color: cadetblue;
  font-size: 28px;
  font-weight: 100;
  margin-top: 10px;
}
.view{
  background-color: white;
    height: 35px;
    width: 110px;
    box-shadow: 0px;
    margin-top: -4px!important;
    font-family: sans-serif;
    font-family: arial, sans-serif;
    border-color: darkgreen;
    outline: 0px;
    font-size: 15px;
    color: cadetblue;
    border: ridge;
}
.progress{
  font-size: 15px;
  color: #678098;
  margin-left: -14px;
  font-weight: 500;
}
.progressBar{
  position: relative;
  margin-top: -15px;
  width: 258px;
  margin-left: 14px;
}
.progressBar:before{
  content: "";
  position: absolute;
  top: calc(100% + 10px);
  left: 0;
  width: 100%;
  height: 8px;
  border-radius: 1000px;
}
.progressBar:after{
  content: "";
  position: absolute;
  top: calc(100% + 10px);
  left: 0;
  width:0;
  height: 8px;
  border-radius: 1000px;
  animation-duration: .7s;
  animation-timing-function: ease;
  animation-fill-mode: forwards;
  animation: progressBar1 5s infinite;
  animation: progressBar2 5s infinite;
  animation: progressBar3 5s infinite;
}
.progressColorFirst::before{
  background-color: lightgrey;

}
.progressColorFirst::after{
  background-color: purple;

}
.progressColorSecond::before{
  background-color: lightgrey;

}
.progressColorSecond::after{
  background-color: cadetblue;

}
.progressColorThree::before{
  background-color: lightgrey;

}
.progressColorThree::after{
  background-color: red;

}
@keyframes progressBar1{
  to{
    width: 50%;
  }
}
@keyframes progressBar2{
  to{
    width: 90%;
     }
}
@keyframes progressBar3{
  to{
    width: 75%;
  }
}
/* Sidebar links */
.sidebar a {
  display: block;
  color: black;
  padding: 16px;
  text-decoration: none;
}

/* Active/current link */
.sidebar a.active {
  background-color: #f9f7fb;
  color: #9068be;
}

/* Links on mouse-over */
.sidebar a:hover:not(.active) {
  background-color: #555;
  color: white;
}
/* Page content. The value of the margin-left property should match the value of the sidebar's width property */
div.content {
  margin-left: 200px;
  padding: 1px 16px;
  height: 1000px;
}
.fa .fa-search{
  font-size: 60px;
}
.navbarContents{
  display: flex;
  justify-content: space-between;
}
.sidenav .closebtn {
  position: absolute;
  top: 0;
  right: 25px;
  font-size: 36px;
  margin-left: 50px;
}
.activity{
  display: grid;
  justify-content: left;
}
h10{
  font-size: 33px;
    color: darkslategray;
    font-weight: 600;
}
p10{
  font-size: 15px;
  color: cadetblue;
  margin-left: 2px;
  font-weight: 600;
  margin-top: -42px;

}
h15{
  color: black;
  font-size: 20px;
  font-weight: 600;
  margin-left: -222px;
}
p00{
  font-size: 20px;
  color: darkslategray;
  margin-left: 15px;
  font-weight: 600;
}
p01{
  color: gray;
  font-size: 15px;
  margin-top: -32px;
}
p02{
  color: black;
  font-size: 15px;
  margin-top: -50px;
  margin-left: 203px;  word-wrap: break-word;

}
.online-earn{
  display: flex;
  justify-content: space-between;
  margin-top: -10px;
}
.one{
  display: grid;
}
.leftIcons {
font-size: 20px;
}
.rightIcons{
  flex-direction: row;
  display: flex;
  float: right;
}
.content-body{
  width: 1070px;
  margin-top: 83px;
  margin-left: 205px;
  font-size: 20px;
}
.sidebarBody{
  display: flex;
}
.container{
  padding: 20px;
  display: grid;
  align-content: space-between;
  grid-gap: 30px;
}
.flex-container {
  display: flex;
  justify-content: space-between;
}
.flex-container > div {
  background-color: white;
  padding: 20px;
  font-size: 30px;
  width: 280px;
  border-radius: 5px;
  height: 70px;
}
.two{
  background-image: url(./download.jpeg);
  background-repeat: no-repeat;
  background-size: 310px 290px;
}
.p{
  font-size: 20px;
  font-weight: bold;
}
.f, .s,.t{
  display: flex;
  justify-content: space-between;
  font-size: 20px;
}
p1{
  font-size: 20px;
  font-weight: 600;

}
.time{
  display: grid;
  margin-left: -65px;
}
#container {
  height: 67px;
  margin-top: 12px;
  width: 307px;
  margin-left: -14px;
}
.messageIncome{
  display: flex;
  align-items: stretch;
  justify-content: space-between;
}

.messageIncome> div {
  background-color: white;
  color: black;
  height: 370px;
  font-size: 18px;
  padding: 15px;
  border-radius: 5px;
}
.earning{
  margin-top: -69px;
}
.income{
  width: 535px;
}
.message{
  width: 413px;
}
.threeFlex{
  display: flex;
  justify-content: space-between;
 }
.threeFlex >div{
  background-color: white;
  padding: 20px;
  font-size: 30px;
  width: 270px;
  border-radius: 5px;
  height: 250px;
}
table {
  font-family: arial, sans-serif;
  border-collapse: collapse;
  width: 100%;
  background-color: white;
  border-radius: 10px;
  font-size: 15px;
  color: #678098;
}
.infoData{
  font-weight: bold;
}
td, th {
  border: 1px solid #dddddd;
  text-align: left;
  padding: 20px;
}
.image {
  width: 100px;
  height: 100px;
  border-radius: 70%;
  margin-top: 20px;
}
.imageSmall{
  width: 50px;
  height: 50px;
  border-radius: 50%;
  margin-top: 20px;
}
.icons{
  color: gray;
    margin-top: -40px;
}
p5 {
  font-size: 15px;
    font-family: arial, sans-serif;
    font-weight: bold;
    margin-top: -40px;
    color: black;
}
p6 {
  font-size: 14px;
  font-family: arial, sans-serif;
  margin-top: -55px;
  color: gray;
}
.data{
  display: inline-grid;
}
.flex-container-lastRow{
  display: flex;
  justify-content: space-between;

}
.flex-container-lastRow > div{
  color: white;
  text-align: center;
  line-height: 75px;
  font-size: 30px;
  height: 400px;
  background-color: white;
  border-radius: 5px;
}
p15{
  font-size: 15px;
  color: black;
  font-weight: 600;
  margin-top: -42px;
}
.aaInfo,.bbInfo{
  display: grid;
    justify-content: center;
}
p16{
  font-size: 15px;
  color: grey;
  margin-top: -53px;
}
p17{
  font-size: 15px;
  color: grey;
  margin-top: -53px;
  font-weight: bold;
}
.row{
  margin-top: -56px;
}
.aa{
  background-color: white;
  height: 185px;
  border-radius: 5px;
}
.bb{
  background-color: white;
  height: 185px;
  margin-top: 30px;
  border-radius: 5px;
}
.profile{
  width: 320px;
}
.last{
  width: 215px;
  background-color: transparent;
}
.activity{
  width: 460px;
}
.information{
  color: cadetblue;
  font-size: 15px;
  display: grid;
  justify-items: flex-start;
}
.data1{
  display: flex;
  justify-content: space-between;
}
.email{
  margin-top: -100px;
}
.phone{
  margin-top: -130px;
}
h111{
  font-weight: 600;
    font-size: 20px;
    color: black;
    margin-left: 60px;
}
h{
  font-size: 20px;
  color: black;
}
.browse{
  background-color: cadetblue;
  height: 30px;
  color: white;
  border: none;
  font-weight: 600;
}
p{
  font-size: 15px;
  color: grey;
  margin-left: 15px;  word-wrap: break-word;

}
.three{
  display: grid;
  font-size:48px;color:cadetblue;
  justify-content: center;
}
.line{
  background-color: grey;
  width: 264px;
  margin-top: -89px;
  height: 1px;
}
.line1{
  background-color: grey;
  width: 264px;
  margin-top: -113px;
  height: 1px;
}
.card{
  color: grey;
  height: 383px;
  margin-top: -8px;
  border-radius: 5px;
  background-image: url(download.jpeg);
  background-repeat: no-repeat;
  background-size: auto;
  
}
.button {
  border: none;
  color: white;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  cursor: pointer;
  border-radius: 50px;
  outline: none;
  width: 55px;
  height: 25px;
}
.sk{
  justify-content: left;
  font-size: 20px;
  display: grid;
  margin: 8px;
  color: white;
}
p11{
  font-size: 20px;
  margin-left: -23px;
}
p12{
  margin-top: -1px;
  margin-left: -19px;
}
.button2 {
  background-color: #9068be;
  margin-top: 157px;
  margin-left: -22px;
} 
.myIcons{
  margin-top: 3px;
  margin-left: -18px;
}
#container {
  height: 250px;
  width: 560px;
}
h11{
  font-size: 18px;
  font-weight: 600;
}
/************ blinking dot *******************/
@keyframes up-right {
  0% {
      opacity: .25
  }
  50% {
      transform: scale (1, 5);
      opacity: 1;
  }
  100% {
      transform: scale(1);
      opacity: .25;
  }
}
.circle {
  border-radius: 50%;
  width: 15px;
  height: 15px;
  opacity: .25;
}
.red1 {
  background-color: red;
  position: absolute;
  top: 25%;
  left: 1147px;
  -webkit-animation: up-right 1s infinite;
  -moz-animation: up-right 1s infinite;
  -o-animation: up-right 1s infinite;
  animation: up-right 1s infinite;
}
.red2{
  background-color: red;
  position: absolute;
  top: 25%;
  left: 1194px;
  -webkit-animation: up-right 1s infinite;
  -moz-animation: up-right 1s infinite;
  -o-animation: up-right 1s infinite;
  animation: up-right 1s infinite;
}
.red3{
  background-color: red;
  position: absolute;
  top: 25%;
  left: 1231px;
  -webkit-animation: up-right 1s infinite;
  -moz-animation: up-right 1s infinite;
  -o-animation: up-right 1s infinite;
  animation: up-right 1s infinite;
}
.red4{
  background-color: red;
  position: absolute;
  top: 25%;
  left: 1272px;
  -webkit-animation: up-right 1s infinite;
  -moz-animation: up-right 1s infinite;
  -o-animation: up-right 1s infinite;
  animation: up-right 1s infinite;
}
body{
      font-family: poppins,sans-serif;
}
.messageImage{
  width: 50px;
  height: 50px;
  border-radius: 50%;
  margin-top: 0px;
}
.imgData{
  display: grid;
  margin-left: 20px;
}
p22{
  color: cadetblue; 
  
}
p23{
  font-size: 12px;
  color: grey;
  margin-left: -41px;
}
.textWrap{
  word-wrap: break-word;
}
.row1{
  display: flex;
  font-size: 15px;
  margin-top: 17px;
}
.line3{
  background-color: lightgray;
  width: 417px;
  margin-top: 8px;
  height: 1px;
}
/****************** media Query ****************************************************/
/* @media screen and (max-width: 321px) {
  .sidebar {padding-top: 15px;}
  .sidebar a {font-size: 18px;}
  
  .sidebar a:not{display: none;}
  .sidebar a.icon {
    float: right;
    display: block;
  }
  .sidenav .closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
  }
  
  body {
    width: 100%;
    height: 100%;
    background-color: grey;
    font-family: poppins,sans-serif;
}
.navbarContents{
  display: flex;
  justify-content: flex-start;
}
.fa .fa-search{
  font-size: 60px;
}
.navbar {
  overflow: hidden;
  background-color: white;
  position: fixed;
  top: 0;
  width: 100%;
  display: flex;
}

.rightIcons {
  flex-direction: row;
  display: flex;
  float: right;
}

} */